.a{
    border: 3px solid black;
    background-image: url(kiran.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    margin: 350px;
    color: azure;
    border-radius: 10px;
}
.b{
    text-align: center;
}
#name{
    height: 30px;
    width: 400px;
    border-radius: 10px;
}